<%= form_for @task, url: task_path(@task), html: { method: :path } do |f| %>
  <p>タスク詳細</p>
  <p>タイトル：<%= @task.title %></p>
  <p>内容：<%= @task.content %></p>
<%= link_to "一覧画面へ", tasks_path %>
<% end %>
